<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple Board</title>
</head>
<body>
<h1>Post List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
        <td th:text="${post.author}"></td>
        <td th:text="${post.date}"></td>
    </tr>
</table>
<button onclick="location.href='login'">로그인</button>
<button onclick="location.href='login'">로그아웃</button>
<button onclick="location.href='post/new/'">글쓰기</button>
</body>
</html>